@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Croissant+One&family=Quicksand:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #161D27;
    background-color: #EBE7E1;
    overflow-x: hidden;
}

/*****************
** Util Classes **
******************/

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/*****************
***** Layout *****
******************/

.site-container {
    position: relative;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
}

main,
section,
.generator-container {
    flex-grow: 1;
}

section {
    padding: 1.3em;
}

section h1 {
    font-family: "Croissant One";
    font-size: 2.2rem;
}

/*****************
***** Header *****
******************/

header {
    position: relative;
    padding: 1em;
}

header a {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 1.35rem;
    color: #161D27;
    text-decoration: none;
}

header h1 span {
    display: block;
}

/*****************
****** Nav *******
******************/

nav {
    position: absolute;
    top: 1.5em;
    right: 1.6em;
    left: auto;
    transition: right 550ms ease-out;
    transition-delay: 150ms;
}

nav.open {
    right: calc(100% - 4em - 1.6em);
    /* Screen width minus nav width (4em) and its right margin (1.6em) */
}

/***** Hamburger  *****/

.hamburger-container {
    z-index: 1001;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 3.2em;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.nav.closed .hamburger-container {
    transition-delay: 100ms;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 0.3em;
    background-color: #2e3949;
    border-radius: 1em;
}

.hamburger {
    z-index: 1001;

    width: 100%;
    transition: transform 700ms ease-in-out 50ms, background-color 1000ms ease-in-out;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: transform 700ms ease-in-out 50ms, background-color 800ms ease-in-out 100ms;
}

.hamburger:before {
    top: 1.1em;
}

.hamburger:after {
    bottom: 1.1em;
    transition: opacity 800ms ease-in-out 200ms;
} 
 
.nav.open .hamburger {
    background-color: #DBD4D3;
    transform: rotate(-225deg);
}

.nav.open .hamburger:before {
    background-color: #DBD4D3;
    transform: rotate(90deg) translateX(-1em);
}

.nav.open .hamburger:after {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}

/***** Nav Links Overlay *****/

.nav--links {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 0%;
    padding: 8em 3em;
    gap: 2.4em;
    background-color: hsla(0, 0%, 5%, 0.6);
    backdrop-filter: blur(0.4rem);
    
    transform: translateX(100%);
    transition: transform 500ms ease-in 100ms; 
}

.nav.open .nav--links {
    transform: translateX(0%);
    transition: transform 400ms ease-in 100ms; 
}

.nav--links a {
    font-size: 2.5rem;
    font-family: 'Bungee Shade', sans-serif;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.15rem;
    color: #DBD4D3;
    transition: transform 800ms ease-out;
    transform: translateX(100%);
}

.nav.open .nav--links a {
    transform: translateX(0%);
}

.nav.open .nav--links a.nav--mypalettes {
    transition-delay: 100ms;
}

.nav.open .nav--links a.nav--famous {
    transition-delay: 200ms;
}

.nav.open .nav--links a.nav--trending {
    transition-delay: 300ms;
}

.nav.closed .nav--links a.nav--generator {
    transition-delay: 300ms;
}

.nav.closed .nav--links a.nav--mypalettes {
    transition-delay: 200ms;
}

.nav.closed .nav--links a.nav--famous {
    transition-delay: 100ms;
}

.nav.closed .nav--links a.nav--trending {
    transition-delay: 0ms;
} 

.behind {
    z-index: -1;
}


/*****************
*** Generator ****
******************/

.generator {
    padding: 0;
}

.color-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.8em;
    align-items: center;
    flex-grow: 1;
}

.color-details {
    width: 100%;
    align-items: center;
    font-weight: 600;
}

.color-text h2 {
    font-family: 'Poppins', 'sans-serif';
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

.color-text p {
    letter-spacing: 0.05rem;
}

/**************
    icons
**************/

.icon {
    cursor: pointer;
    font-size: 2em;
}

.color-icons-container {
    display: flex;
    align-items: center;
}

.x-icon-container,
.copy-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 50%;
    transition: background-color 300ms;
}

.x-icon-container:hover,
.copy-icon-container:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* lock icon */

.lock-closed-icon {
    font-size: 2.3rem;
}

.lock-open-icon,
.lock-closed-icon {
    margin-left: 0.2em;
}

.lock-open-icon:hover,
.lock-closed-icon:hover,
.lock-open-icon:focus,
.lock-closed-icon:focus {
    animation: big-jiggle 450ms ease-in-out;
}

@keyframes big-jiggle {
    0% {
        transform: rotate(0) scale(1)
    }

    20% {
        transform: rotate(20deg) scale(1.05)
    }

    35% {
        transform: rotate(0) scale(1.08)
    }

    50% {
        transform: rotate(-20deg) scale(1.1)
    }

    70% {
        transform: rotate(0) scale(1.08)
    }

    85% {
        transform: rotate(20deg) scale(1.05)
    }

    100% {
        transform: rotate(0) scale(1)
    }
}

@keyframes lil-jiggle {
    0% {
        transform: rotate(0) scale(1)
    }

    25% {
        transform: rotate(20deg) scale(1.05)
    }

    50% {
        transform: rotate(0) scale(1.075)
    }

    75% {
        transform: rotate(-20deg) scale(1.05)
    }

    100% {
        transform: rotate(0) scale(1)
    }
}

.add-color-overlay {
    position: absolute;
    top: 0%;
    bottom: 30%;
    right: 40%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none;
}

.add-color-container {
    padding: 1em 3.4em;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: auto;
}

.add-color-container:hover {
    opacity: 1;
}

/* needs work - removed some code at some point accidentally */
.add-color {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 100ms ease-in;
}

.add-color:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.add-color span {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.1em;
    width: 1.1em;
    border-radius: 50%;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    transition: background-color 300ms ease-in-out;
}

section .color-container:first-child .add-color-overlay {
    display: none;
}

/* GeneratorControls */

.generator-controls { 
    padding: 0.6em;
    align-items: center;
}

.btn  {
    color: white;
    background-color: #161D27;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
}

.generate-btn {
    padding: 1em;
    margin-left: 0.3em;
}

.add-color-icon, 
.remove-color-icon,
.save-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    color: #161D27;
    background-color: transparent;
}

.add-color-icon,
.remove-color-icon,
.save-icon,
.generate-btn {
    transition: transform 150ms ease-in-out;
}

.add-color-icon:hover,
.add-color-icon:focus,
.add-color-icon:active,
.save-icon:hover,
.save-icon:focus
.save-color-icon:active
.generate-btn:hover,
.generate-btn:active {
    transform: scale(1.15);
}

.remove-color-icon:hover,
.remove-color-icon:focus
.remove-color-icon:active {
    transform: scale(0.85)
}


/***** Settings *****/

.settings-icon-container {
    z-index: 101;

    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 4.4em;
    width: 4.4em;
    cursor: pointer;
    transition: transform 800ms cubic-bezier(.72, .57, .25, 2);
}

.settings-icon-container.open {
    transform: rotate(120deg) scale(1.4);
}

.settings-icon {
    z-index: 101;
    
    font-size: 3rem;
    color: #161D27;
}

.settings-icon.open {
    color: #DBD4D3;
    transition: color 600ms ease-in;
}

.settings-icon.closed {
    transition: color 1000ms ease-in;
}

/***** settings selectors overlay *****/

.settings-overlay {
    z-index: 100;
    
    position: fixed;
    inset: 0 0 0 0%;

    padding: 2em;
    color: #DBD4D3;
    background-color: hsla(0, 0%, 5%, 0.65);
    backdrop-filter: blur(0.4rem);

    transform: translateY(100%);
    transition: transform 600ms ease-in 100ms;
}

.settings.open .settings-overlay {
    transform: translateY(0%);
    transition: transform 600ms ease-in 100ms;
}

.settings-overlay h1 {
    font-family: 'Bungee Shade', 'Quicksand', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    transform: translateY(200%);
    transition: transform 900ms ease-out 100ms;
}

.settings-overlay.open h1 {
    transform: translateY(0%);
    cursor: pointer;
}

.settings-close {
    display: none;
    position: absolute;
    font-size: 2rem;
    top: 2em;
    right: 1em;
    cursor: pointer;
}

.settings-items {
    margin-top: 3em;
    gap: 3em;
}

.settings-item {
    z-index: 101;
    width: 100%;
    gap: 1em;
    font-weight: bold;
    letter-spacing: 0.05rem;
    opacity: 0;
    
    transform: translateY(200%);
    transition: opacity 600ms ease-in, transform 600ms ease-in;
}

.settings-item > label {
    font-family: 'Croissant One', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.settings-item form {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 0.6em;
}

.form-element label {
    margin-right: auto;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 1em;
    cursor: pointer;
}

#none {
    opacity: 0;
}

.settings-seed {
    position: relative;
}

input[type="color"] {
    width: 100%;
    height: 3em;
    border: none;
    cursor: pointer;
}

#hexLabel { 
    font-family: "Quicksand", sans-serif;
    position: absolute;
    font-size: 1.2rem;
    font-weight: ligther;
    letter-spacing: 0.08rem;
    top: 67%;
    left: 3%;
    cursor: pointer;
}

.settings-mode select {
    padding: 0.7em;
    
    background-color: #DBD4D3;
    text-align: center;
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.05rem;

    border: none;
    border-radius: 1em;
    cursor: pointer;
}  

/* Settings Transitions */

.settings.open .settings-item {
    opacity: 1;
    transform: translateY(0);
}

.settings.open .settings-mode {
    transition-duration: 600ms;
    transition-delay: 550ms;
}
.settings.open .settings-seed {
    transition-duration: 600ms;
    transition-delay: 400ms;
}

.settings.open .settings-form {
    transition-duration: 900ms;
}

/**************
    Modals
**************/

.copy-modal-container, .save-disabled-modal-container {
    z-index: 1;
    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 100%);
    animation: modalSlideUpBounce 0.75s forwards;
}

.copy-modal-content, .save-disabled-modal-content {
    padding: 1em 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #060504;
    color: #F7F7F7;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1.4em;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

@keyframes modalSlideUpBounce {
    0% {
        transform: translate(-50%, 100%);
    }

    50% {
        transform: translate(-50%, -210%);
    }

    75% {
        transform: translate(-50%, -190%);
    }

    100% {
        transform: translate(-50%, -200%);
    }
}

.save-modal-container {
    z-index: 1;
    position: fixed;
    bottom: 30%;
    left: 20%;
    right: 20%;
    padding: 1em;
    background-color: #F7F7F7;
    border-radius: 1.2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.save-modal-container.slide-in {
    animation: slideIn 1100ms ease-in-out;
}

.cancel-save-icon {
    position: absolute;
    right: 0.6em;
    top: 0.6em;
}

.palette-preview {
    display: flex;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 1.2em;
    overflow: hidden;
}

.palette-preview-color {
    flex-grow: 1;
    height: 100%;
}

.save-modal-content input {
    margin: 0.2em 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.save-modal-content textarea {
    margin: 1em 0 1.4em 0;
}

.save-palette-btn {
    padding: 0.4em 0;
    font-size: 1.2rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(-500%);
    }
    70% {
        transform: translateX(8%);
    }
    85% {
        tranform: translateX(5%);
    }
    100% {
        tranform: translateX(0);
    }
}

/*****************
*** My Palettes ***
******************/

.my-palettes p {
    font-size: 1.2rem;
}

.saved-palette {
    position: relative;
    padding: 1em 0;
}

.saved-palette-colors {
    position: relative;
    height: 10em;
    display: flex;
    border-radius: 1.1em;
    overflow: hidden;
}

.saved-palette-color {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.saved-palette-color p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.unsave-palette-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    opacity: 0.95;
    
    font-size: 2rem;
}

.unsave-palette-icon:hover,
.unsave-palette-icon:focus {
    opacity: 1;
}

.saved-palette-info {
    padding: 0.5em;
}

.saved-palette-name {
    margin: 0.5em 0 0.8em 0;
    align-items: center;
}

.saved-palette-info p {
    font-size: 1.25rem;
    width: 100%;
    overflow-x: scroll;
}

.link--blank-my-palettes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link--blank-my-palettes a {
    width: 70%;
    font-family: "Croissant One";
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1em;
    color: #161D27;
    text-decoration: none;
}

.arrow-icon {
    display: inline-block;
    font-size: 2.4em;
    transform: rotate(-45deg);
    animation: bounceNgrow 2s infinite;
}

@keyframes bounceNgrow {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0) rotate(-45deg) scale(1);
    }
    5% {
        transform: translate(2px) rotate(-45deg) scale(1.02);
    }
    10% {
        transform: translate(4px) rotate(-45deg) scale(1.04);
    }
    15% {
        transform: translate(6px) rotate(-45deg) scale(1.06);;
    }
    20% {
        transform: translate(6px) rotate(-45deg) scale(1.08);
    }
    25% {
        transform: translate(6px) rotate(-45deg) scale(1.08);
    }
    30% {
        transform: translate(5px) rotate(-45deg) scale(1.07);
    }
    35% {
        transform: translate(4px) rotate(-45deg) scale(1.06);
    }
}

/*****************
***** Famous ******
******************/


.famous h1 {
    font-family: "Croissant One";
}

.famous-subheading {
    margin: 0.2em 0 1.2em 0;
}

.famous-palette-container {
    display: flex;
    align-items: stretch;
    gap: 1.1em;
    margin-bottom: 2em;
    width: 100%;
}

.famous-palette-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
}

.famous-palette-info h3 {
    font-size: 1.2rem;
}

.famous-palette-info p {
    font-size: 0.88rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

.famous-palette-colors {
    margin-top: auto;
    gap: 0.7em;
    max-width: 22em;
}

.famous-palette-color {
    padding: 0.2em;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}

.famous-palette-container img {
    width: 10em;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    object-position: 35%;
}

/*****************
**** Trending ****
******************/

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******************
** MEDIA QUEIRES **
******************/

/* For smaller phone screens */
@media screen and (min-width: 375px) and (max-width: 400px) {

}

/* For portrait tablets */
@media screen and (min-width: 600px) {
    html {
        font-size: 1.1rem;
    }

    section {
        padding: 2em;
    }

    header {
        padding: 1.3em 1.7em;
        border-bottom: 2px solid #161D27;
        box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.2);
        }
    nav {
        top: 1.8em;
        right: 3em;
    }
    nav.open {
        right: calc(100% - 4em - 2em);
    }
    .hamburger-container {
        height: 5.5em;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        height: 0.4em;
    }
    .nav--links {
        padding: 10em 3em;
        gap: 4em;
    }


    .generator-container {
        flex-direction: row;
    }
    .generator-controls {
        padding: 0.6em 1.2em;
        order: -1;
    }
    .remove-color-icon {
        margin-right: -0.5em;
    }

    .color-details {
        flex-direction: column;
        height: 100%;
        padding: 1em 0;
    }

    .color-icons-container {
        font-size: 1.1rem;
        flex-direction: column;
        order: -1;
        gap: 0.8em;
    }
    .color-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        width: 5em;
    }
    .color-text h2 {
        order: 1;
        margin-top: 0.8em;
        font-size: 1.2rem;
    }

    .add-color-overlay {
        top: 50%;
        bottom: 30%;
        right: 100%;
        left:0%;

        transform: translateY(-50%);
        pointer-events: none;
    }
    .add-color span {
        font-size: 3rem;
    }

    .settings-icon-container, 
    .settings-icon {
        z-index: 99;
    }

    .settings-icon-container.open {
        transform: rotate(120deg);
    }

    .settings-overlay h1 {
        margin-right: 1.5em;
    }

    .settings-close {
        display: block;
    }


    .famous-subheading, 
    .famous-palette-info p {
        font-size: 1.3rem;
        margin: 0.4em 0 2em 0;
    }

    .famous-palette-info h3 {
        font-size: 1.5rem;
    }
    .famous-palette-info p {
        font-size: 1.2rem; 
        letter-spacing: 0.1em;
    } 
    .famous-palette-container {
        gap: 4em;
        margin-bottom: 3em;
    }

    .famous-palette-colors {
        margin-top: auto;
        gap: 1.1em;
    }
    
    .famous-palette-color {
        padding: 0.2em;
        font-size: 1.1rem;
        letter-spacing: 0.1em;
    }
    
    .famous-palette-container img {
        width: 13em;
        /* height: auto; */
        /* object-fit: contain;
        object-position: 30%; */
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }

    nav {
        top: 1.7em;
        right: 3em;
    }

    .hamburger-container {
        transition-delay: 50ms;
    }

    .nav--links {
        padding: 9em 3.3em;
        gap: 4em;
    }

    .nav--links a {
        font-size: 2.8rem;
    }

    .remove-color-icon {
        margin-right: -1.2em;
    }

    .settings-overlay h1 {
        margin: 0 auto 0 auto;
    }
}

/* For large laptops to desktops */
@media screen and (min-width: 1280px) {

}